# Python ka chilla 
## How to use jupyter note Book
### Basics of python

# 01-My first program

In [2]:
print(2+3)
print("Hello word")
print("we are learning python python with ammara")

5
Hello word
we are learning python python with ammara

# 02- Operators

In [4]:
print(2+2) # hashtag stands for comment in python. means jab hashtag 
# tou code mai wo chz run nhi hoge.
print(2*2)
print(2/2) # single back slash means k answer points(floting points) mai ay ga.
print(2//2) #// means k answer point mai nhi ay ga ik whole number hoga
print(2**3)# ** means the power of the number
# python solve the operators in the seq "PEMDAS" means (prenthesis, exponents,
#  multiplication,devision, addition, sunstraction)

4
4
1.0
1
8

# 03- Strings

In [9]:
print(2+5)
print("Hello word")
print("test double quotes")
print('test single quotes')
print('''test triple quotes''')
# single('), double("), and triple quotes(''')all have the same meanings and all are called the strings.
# string k ander spaces ka effect hota h, lkin string k bahir prenthsis k ander spaces ka koi effect nhi hota

7
Hello word
test double quotes
test single quotes
test triple quotes

# 04- Comments

In [13]:
print(2+3) #operators are applying
print("Hello word") #strings are applyling
print("test double quotes")# single ,double even triple quotes all have same meaningsb

5
Hello word
test double quotes

# 05- Variables

In [15]:
# Variables: object containg specific values
x=5 # integer value or numeric value
print(x)
y=("we are learning python with ammara")
print(y) # y is a string here
x=x+10 # we can write x=15
print(x)
#types of variable
print(type(x))# type btatye ge k x ik number h ya integer
print(type(y)) # y ik string h


     ## Rules to assinging a variables
     # 1.  the variables should contains letters, numbers or underscore
     # 2.  do not start with a number
     # 3.  spaces are not allowed
     # 4.  short and distriptive
     # 5.  Do not used key words used in the function like(break,mean, median,mode etc)
     # 6.  Case senstivity (try to use lower case letter means small letters)
fruit_bascuit=("mangoes")
print(type(fruit_bascuit))

5
we are learning python with ammara
15
<class 'int'>
<class 'str'>
<class 'str'>

# 06-Input variables

In [ ]:
fruit_bascuit="mangoes"
print("fruit_bascuit")
# input function simple
fruit_bascuit=input("what is your favourit fruit")
print("fruit_bascuit")
#input funtion of 2nd stage
name=input("what is your name")
greetings = "hello!"
print(greetings , name, " you are still young")

fruit_bascuit

# 07- Conditional logics

In [ ]:
# Logical operators are simply "true or false, yes or no, 0 or 1"
# equal to                                          == 
# not equal to                                      !=
# less then                                         <
# greater then                                      >
# less then and equal to                            <=
# greater then and equal to                         >=
print(4==4)
print(4!=4)
print(5<=8)
print(5>6)
age_at_school=5
hammad_age=input("how old is hammad ?  ")
hammad_age=int(hammad_age) # otherwise 5 will be used as string
print(hammad_age==age_at_school)

# 08- Type Conversion

In [ ]:
# Implicite type conversion
x=5 # x is an integer
y=10.2 #Y is a floting point(decimal)
z="hello" # z is a string
x=x*y
print(x, "type of x is:", type(x))

# Explicite type conversion
age=input("what is your age? ")
print(age, type(int(age)))

# 09-if else and elif statments

In [ ]:
kainat_age=5
age_at_school=10
if kainat_age==age_at_school:
    print("she can go to school")
elif kainat_age<age_at_school:
    print("she cannot go to school")
else:
    print("we are very sorry")

# 10- functions

In [ ]:
# Defining a function:
# 01
def print_codanics():
    print("we are learning python with ammara")
    print("we are learning python with ammara")
    print("we are learning python with ammara")
print_codanics()
# 02
def print_codanics():
    text="we are learning python with ammara"
    print(text)
    print(text)
    print(text)
print_codanics()
# 03
def print_codanics(text):
    print(text) 
    print(text)
    print(text)
print_codanics("we are learning python with ammara")  

 # defining a function with if elif and else statment
def school_calculator(age):
    if age==5:
        print("kainat can go to school")
    elif age>5:
        print("kainat should go to higher school")
    else:
        print("we are feeling sorry")
    school_calculator(6)

# 11- Loops

In [ ]:
# while and for loop
# while loop
x=0
while (x<5):
    print(x)
    x=x+1 #yahan x+1 likhna zrori h otherwise x bar bar repeat hota rhy ga isko infinit loop kehty  hain
for x in range(4, 11):
    print(x)
# Array data set
days=["mon", "tues","wed", "thur", "fri", "sat","sun"]
for d in days:
    if(d=="fri"):break # then the loop will stop
    if(d=="fri"):continue # skip d
    print(d)

# 12- Import Libraries

In [ ]:
# if we want to print the value of pi
import math
print("the value of pi is ", math.pi)
import statistics
x=[150,250,350,450]
print(statistics.mean(x))
# import libraries are numpy, pandas

# 13- trouble shooting

In [ ]:
#print(we are learning python with ammara) # we are not using commas here so it is syntax error
print(25/0) #devided by zero is run time error
name="ammara"
print("hello name") # this error is called symentic error but the correct thing is
print("hello", name) # + is used to remove the space